.aboutus-wrap {
  width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  color: #292727;
}
.aboutus-top {
  display: flex;
  height: 400px;
}

.curve-img {
  width: 184.1px;
  height: 183.96px;
  background: url(../../../assets/curve.svg);
  position: absolute;
  right: 0;
  top: 35px;
  animation: curving 15s linear infinite;
}
body.dark .curve-img {
  background: url(../../../assets/curve-green.svg);
}
@keyframes curving {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.imgbig-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 150px;
}
body.dark .imgbig-container {
  color: #fff;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px); /* Increase the height of rows */
  gap: 10px;
  width: 50%;
}

.image-item {
  position: relative;
  overflow: hidden;
}

.image-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.2s ease;
  cursor: pointer;
}

.image-item:hover img {
  filter: grayscale(0%);
}

/* Custom positions for slightly chaotic layout */
.image-item-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.image-item-2 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
}

.image-item-3 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.image-item-4 {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}

.img-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 400px;
  margin-left: 50px;
}

.img-text-container h1 {
  font-family: "NeueMachina-light";
  font-size: 3rem;
  margin-bottom: 20px;
}
.img-text-p {
  font-family: "Helvetica-light";
  font-size: 1.2rem;
}

.img-text-container button {
  font-family: "NeueMachina-light";
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #e5f89a;
  color: #000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  margin-top: 325px;
}
.img-text-container button a {
  color: #292727;
}

.img-text-container button:hover {
  background-color: #292727;
  color: #e5f89a;
}
.img-text-container button:hover a {
  color: #e5f89a;
}
