.profile-card {
  display: flex;
  gap: 50px;
  max-width: 1140px;
  color: #fff;
  margin-top: 150px;
  margin-bottom: 150px;
}
.profile-image img {
  width: 464px;
  height: 579px;
}
.overlay-img h2 {
  font-family: "Monolog";
  font-size: 32px;
  color: #fff;
}
.profile-info {
  font-family: "Helvetica-light";
}
.profile-info ul {
  font-size: 14px;
}
.profile-info b {
  font-family: "Helvetica-bold";
}
