.profile-card {
  display: flex;
  gap: 50px;
  max-width: 1140px;
  color: #fff;
  margin-top: 150px;
  margin-bottom: 150px;
}
.profile-image img {
  width: 464px;
  height: 579px;
}
.overlay-img h2 {
  font-family: "Monolog";
  font-size: 32px;
  color: #fff;
}
.profile-info {
  margin-top: -20px;
  font-family: "Helvetica-light";
}
.profile-info ul {
  font-size: 14px;
}
.profile-info b {
  font-family: "Helvetica-bold";
}

body.dark .profile-card {
  color: #080f17;
}

/* Profile Image */
body.dark .profile-image img {
  filter: brightness(1); /* Ensures image remains visible */
}

/* Overlay Text */
body.dark .overlay-img h2 {
  color: #080f17;
}

/* Profile Info */
body.dark .profile-info {
  color: #080f17;
}

/* Profile Info List */
body.dark .profile-info ul {
  font-size: 14px;
  list-style-type: none;
  color: #080f17;
}
.profile-info ul li a {
  color: #3f51b5;
  text-decoration: none;
}
.profile-info ul li a:hover {
  text-decoration: underline;
}
body.dark .profile-info ul li a {
  color: #5c6bc0;
}

/* Profile Info Bold Text */
body.dark .profile-info b {
  font-family: "Helvetica-bold";
  color: #080f17;
}
