.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Druk";
  font-size: 28px;
  max-width: 1000px;
  line-height: 55px;
  color: #fff;
}
body.dark .container {
  color: #c19c53;
}
.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

#text-container {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
