.card {
  position: relative;
  width: 458px;
  height: 375px;
  padding-top: 60px;
  padding-left: 43px;
  background: #080f17;
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  overflow: hidden;
  z-index: -2;
  color: #ffffff;
}
body.dark .card {
  background: #121212;
  color: #f3f5f7;
}

.card-content {
  max-width: 350px;
}

.card-title {
  font-size: 24px;
  font-family: "Akira";
  margin-bottom: 10px;
  z-index: 1;
}

body.lang-kz .card-title {
  font-family: "Druk-medium";
  font-size: 22px;
}
body.lang-ru .card-title {
  font-family: "Druk-medium";
  font-size: 22px;
}

.card p {
  font-size: 14px;
  max-width: 250px;
  font-family: "Helvetica-light";
}

.card-image {
}
.slide-icon {
  position: absolute;
  font-size: 180px;
  top: 160px;
  left: 340px;
  color: #c19c53;
}
.card-green-el {
  position: absolute;
  transform: rotate(180deg);
  top: 85px;
  right: 0;
  z-index: -1;
  width: 119.09px;
  height: 41.75px;
}

/* Light Mode Card */
body.dark .card {
  background: #fafcff; /* Light mode background */
  color: #080f17; /* Dark text for contrast */
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

/* Card Title */
body.dark .card-title {
  color: #080f17;
}

/* Card Paragraph */
body.dark .card p {
  color: #080f17;
}

/* Slide Icon */
body.dark .slide-icon {
  color: #c19c53; /* Keeping gold color the same */
}
