.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  font-family: "Helvetica-bold";
  transition: all 0.3s ease;
  height: 100px;
  z-index: 1000;
}
.header.scrolled {
  position: fixed;
  background-color: #060b10;
  height: 80px;
  top: 0;
}
body.dark .header.scrolled {
  background-color: #121212;
}
