/* Default (Dark Mode) */
.login-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 50px;
  color: #ffffff;
  background-color: #080f17;
}

/* Light Mode */
body.dark .login-page {
  background-color: #fafcff;
  color: #080f17;
}

.login-form {
  width: 40%;
}

.login-form h1 {
  font-size: 48px;
  font-family: "Monolog-light";
  margin-bottom: 10px;
}

/* Light Mode Text Colors */
body.dark .login-form h1 {
  color: #080f17;
}

.login-form p {
  font-family: "Helvetica-light";
  font-size: 16px;
  margin-bottom: 20px;
}

/* Light Mode Text */
body.dark .login-form p {
  color: #080f17;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

/* Light Mode Inputs */
.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #080f17;
}

/* Adjust border colors for light mode */
body.dark .input-group input {
  border: 1px solid #c19c53;
  background-color: #fafcff;
  color: #080f17;
}

/* Submit Button */
.submit-button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #080f17;
  background-color: #c19c53;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Light Mode Button Hover */
.submit-button:hover {
  background-color: #080f17;
  color: #c19c53;
}

/* Social Login */
.social-login {
  margin-top: 20px;
}

.social-login p {
  font-size: 14px;
  margin-bottom: 10px;
}

/* Light Mode Social Buttons */
.google-button,
.facebook-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #ffffff;
  color: #080f17;
}

/* Light Mode Buttons */
body.dark .google-button,
body.dark .facebook-button {
  background-color: #fafcff;
  color: #080f17;
  border: 1px solid #c19c53;
}

.login-image {
  width: 50%;
}

/* Light Mode Image */
.login-image img {
  width: 100%;
  height: auto;
  filter: brightness(1);
}

body.dark .login-image img {
  filter: brightness(0.9);
}
