/* Default (Dark Mode) */
.register-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 50px;
  color: #ffffff;
  background-color: #080f17;
}

/* Light Mode */
body.dark .register-page {
  background-color: #fafcff;
  color: #080f17;
}

/* Home Button */
.home-button {
  margin-left: 50px;
  margin-top: 50px;
  width: 90px;
  height: 40px;
  position: absolute;
  border-radius: 16px;
  border: none;
  background-color: #c19c53;
  color: #080f17;
  cursor: pointer;
}

/* Light Mode Home Button */
body.dark .home-button {
  background-color: #c19c53;
  color: #080f17;
}

.register-form {
  margin-top: 80px;
  width: 40%;
}

.register-form h1 {
  font-size: 48px;
  font-family: "Monolog-light";
  margin-bottom: 20px;
}

/* Light Mode Form Header */
body.dark .register-form h1 {
  color: #080f17;
}

.input-group {
  margin-bottom: 20px;
  font-family: "Helvetica-light";
}

.input-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

/* Light Mode Inputs */
.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #080f17;
}

/* Light Mode Adjustments */
body.dark .input-group input {
  border: 1px solid #c19c53;
  background-color: #fafcff;
  color: #080f17;
}

/* Submit Button */
.submit-button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #080f17;
  background-color: #c19c53;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Light Mode Submit Button */
body.dark .submit-button {
  background-color: #c19c53;
  color: #080f17;
}

/* Button Hover */
.submit-button:hover {
  background-color: #080f17;
  color: #c19c53;
}

/* Social Login */
.social-login {
  margin-top: 20px;
}

.social-login p {
  font-size: 14px;
  margin-bottom: 10px;
  font-family: "Helvetica-light";
}

/* Light Mode Social Buttons */
.google-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-family: "Helvetica-light";
  background-color: #ffffff;
  color: #080f17;
}

/* Light Mode Adjustments */
body.dark .google-button {
  background-color: #fafcff;
  color: #080f17;
  border: 1px solid #c19c53;
}

/* Register Image */
.register-image img {
  width: 500.81px;
  height: 810px;
}

/* Light Mode Image */
body.dark .register-image img {
  filter: brightness(0.9);
}

/* Checkbox Group */
.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Checkbox */
.isStudentCheckbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Light Mode Checkbox */
body.dark .isStudentCheckbox {
  background-color: #fafcff;
  border: 1px solid #c19c53;
}

/* Student Label */
.isStudent {
  font-family: "Helvetica-light";
  margin-left: 5px;
}

/* Light Mode Student Label */
body.dark .isStudent {
  color: #080f17;
}

/* Error Message */
.error-message {
  font-family: "Helvetica-light";
  color: #b43e3e;
}
